
@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url('/fonts/Inconsolata.woff') format('woff');
}

.interlace {
  position: fixed;
  left: 0;
  bottom: 0;
  background: url(../img/interlace.png) top left repeat, rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 10;
  pointer-events: none;
}

#terminal {
  font-family: Inconsolata, monospace;
  font-size: 1.2em;
  line-height: 100%;
  font-weight: bold;
  min-height: 100vh;
  overflow: auto;
  background: rgba(0,0,0,1);
  color: #fff;
  width: 100%;
  padding: 1em;
  text-shadow: 0 0 5px #C8C8C8;
  margin: 0;
}

#terminal output {
  clear: both;
  width: 90%;
}

#terminal .prompt {
  white-space: nowrap;
  color: #ffcc00;
  margin-right: 7px;
}

#terminal table, #terminal a, #terminal img {
  clear: both;
}

#terminal .cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 90%;
  font: inherit;
  border: none;
  color: inherit;
}

