<head>
  <title>OCTO-P7C-ES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
  {{> Router}}
  <script language="javascript" type="text/javascript">
    document.onkeyup = function(event) {
      if (event.keyCode === 88) {
        Router.go('/control');
      }
    };
  </script>
</body>
<template name="monitor">
  <div class="ui fixed bottom section" id="console">
    <div id="confirm" style="display:none;">
       Clear this request?
    </div>
    <div class="interlace"></div>
    <div id="terminal" style="font-size: 160%">
      <br>press 'x' to exit monitor<br><br>
      <table>
      {{#each messages}}
      <tr><td>&nbsp;<span class="prompt">::</span>&nbsp;<span id='m{{_id}}'>{{message}}</span>&nbsp;</td><td><span class='done' id='{{_id}}'>[&nbsp;<u>done</u>&nbsp;]</span></td></tr>
      {{/each}}
      </table>
    </div>
  </div>
</template>
<template name="security">
  <div class="splashy">
    <div class="content" id="pinform">
      <p class="boxed">
         ENTERPRISE PIN
      </p>
      <p>
         {{#if PIN}}
         <span style="color: red">Invalid PIN</span>
         {{else}}  
         Please enter your Enterprise PIN
         {{/if}}
      </p>
      <p>
         If you do not know your enterprise PIN you will need
         to obtain one from management
      </p>
      <p>
       <form id="pinentry" class="pure-form">
         <fieldset>
           <input id="PIN" type="password" placeholder="PIN">
           <button id="submit" class="pure-button pure-button-primary">Submit PIN</button>
         </fieldset>
       </form>
      </p>
    </div>
  </div>
</template>
<template name="control">
  <div class="ui fixed bottom section" id="console">
    <div class="interlace"></div>
    <div id="terminal">
      <output></output>
      <div id="input-line" class="input-line">
        <span class="prompt" style="color: fff;">#</span><span><input class="cmdline" autofocus /></span>
      </div>
    </div>
  </div>
  <script language="javascript" type="text/javascript">
    deadSwap();
  </script>
</template>
