<template name="about">
<div class="splash-container">
    <div class="splash">
        <img class="pure-img-responsive" src="/img/octo_p7c_es.png" border="0">
        <p class="splash-subhead">
           All of the Benefits of Enterprise Pneumatics with none of the worry.
        </p>
        <p>
            <a href="/control" class="pure-button pure-button-primary">Launch Capslock App</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Revolutionary CAPSLOCK&trade; technology.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-lg-1-2">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    OCTO-P7-ES CAPSLOCK&trade; App
                </h3>
                <p>
CAPSLOCK&trade; works through its innovative and convenient app which can be
used on any device, instantly transforming the device into a P7C-ES client.
With the CAPSLOCK&trade; app, you can request an empty capsule or order a
transmission to any other station in the system. The central hub of your
office's OCTO P7C-ES distributor will jump into action to ensure the verified
secure transmission of every capsule, while CAPSLOCK&trade; keeps detailed
records of all transmitted items.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-lg-1-2">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Unprecedented Insights
                </h3>
                <p>
CAPSLOCK&trade; also allows you unprecedented insights and control into
behaviour of your employees, allowing you to manage workloads and task
assignment better than ever before. In order for CAPSLOCK&trade; to always
function correctly it is worth considering assigning a member of your staff
especially for CAPSLOCK&trade; duties. This person can be easily trained, a
perfect starting job for an intern! With CAPSLOCK&trade;, OCTO P7C-ES is the
comprehensive enterprise solution for physical packet security and reliability.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" width="308" src="img/cl.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Total Enterprise Control.</h2>

            <p>
A fully-integrated systems which allows complete capsule security for every
transmission, and ensuring that only authorized users are able to use your OCTO
P7C-ES. It's your enterprise. Take Control.
            </p>
        </div>
    </div>

    <div class="footer l-box is-center">
       <a href="http://telekommunisten.net">
         <img class="pure-img-responsive" src="/img/telekomm.png" border="0">
       </a>
    </div>
</div>
</template>

